<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/e/ef/Stack_Overflow_icon.svg"/>
        <title>Tag Generator</title>

    </head>

    <body>

        <div class="content">
            <header>
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Stack_Overflow_logo.png">
            </header>
            
            <main>
                <h1>
                    <font color="orange" size="6pt" face="arial">
                    Write the question you want to ask on Stackoverflow to obtain the keywords matching to your question. 
                    </font>
                </h1>
            </div>
            </main>
        </div>

    </body>

</html>